Write a Python program to convert kilometers to miles?
Write a Python program to convert Celsius to Fahrenheit?
Write a Python program to display calendar?
Write a Python program to solve quadratic equation?
Write a Python program to swap two variables without temp variable?

In [3]:
#Write a Python program to convert kilometers to miles?

def kmtomile(a):
    return a*0.621371

km = float(input("Enter in km"))
mile = kmtomile(km)
print(km," km  = ", mile, " mile")

Enter in km2
2.0  km  =  1.242742  mile

In [5]:
#Write a Python program to convert Celsius to Fahrenheit?

def CtoF(celcius):
    return celcius*(9/5)+32

CtoF(float(input("Enter in Celcius")))

Enter in Celcius25

77.0

In [6]:
#Write a Python program to display calendar?

import calendar

year = int(input("Enter the year"))

for i in range(1,13):
    print(calendar.month(year,i))

Enter the year1997
    January 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   February 1997
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28

     March 1997
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

     April 1997
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

      May 1997
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

     June 1997
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

     July 1997
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

    August 1997
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

   September 1997
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

    October 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

   November 1997
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30

   December 1997
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [10]:
#Write a Python program to solve quadratic equation?

def quad(a,b,c):
    d = (b**2)-(4*a*c)
    if(d>0):
        x = ((-1)*b+(((b**2)- (4*a*c))**(1/2)))/(2*a)
        y = ((-1)*b-(((b**2)- (4*a*c))**(1/2)))/(2*a)
        print("The two solutions are ",x, " and ",y)
    elif (d == 0):
        x = ((-1)*b+(((b**2)- (4*a*c))**(1/2)))/(2*a)
        print("The solutions is ",x)
    else:
        print("no solution")
        
quad(2,6,4)

The two solutions are  -1.0  and  -2.0

In [ ]:
#Write a Python program to swap two variables without temp variable?

def swap(a,b):
    a,b = b,a
    return a,b


a,b = 12,24
a,b = swap(a,b)
print("a -----> ", a)
print("b -----> ", b)